<main>
    <div class="banner">
        <div class="banner__header">
            <h1 class="header__title">
                A pizza mais saborosa do Brasil!
            </h1>
            <p class="header__text">
                Com a massa fina original, para você ter o melhor da pizza a cada pedaço. Não é à toa que somos uma das melhores pizzas do Brasil.
            </p>
            <div class="header__buttons">
                <button class="buttons__button-more">Ver Mais</button>
            </div>
        </div>
    </div>
</main>