<header>
    <div class="navbar">
        <div class="navbar__logo">
            <img src="assets/images/pizza-svgrepo-com.svg" alt="Logo da pizzaria" class="logo__image">
        </div>
        <div class="navbar__items">
            <ul class="items__list">
                <li class="list__item" routerLink="/"><i class="pi pi-home"></i> <p>Home</p></li>
                <li class="list__item" routerLink="/pizzas"><i class="pi pi-heart"></i><p>Pizzas</p></li>
                <li class="list__item" routerLink="/pizza-create"><i class="pi pi-plus"></i><p>Criar</p></li>
            </ul>
        </div>
    </div>
</header>