<footer>
    <div class="footer">
        <div class="footer__about">
            <span class="about__title">Hello World!</span>
            <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse at.</p>    
        </div>
        <div class="footer__links">
            <span class="links__title">Conheça a Pizzaria</span>
            <ul class="links__list">
                <li class="list__link"><i class="pi pi-external-link"></i>Cultura</li>
                <li class="list__link"><i class="pi pi-external-link"></i>Chefes</li>
                <li class="list__link"><i class="pi pi-external-link"></i>Prêmios</li>
                <li class="list__link"><i class="pi pi-external-link"></i>Missões</li>
                <li class="list__link"><i class="pi pi-external-link"></i>Valores</li>
            </ul>
        </div>
        <div class="footer__social-media">
            <span class="social-media__title">Redes Sociais</span>
            <ul class="social-media__list">
                <li class=list__icons><i class="pi pi-instagram"></i>Instagram</li>
                <li class=list__icons><i class="pi pi-facebook"></i>Facebook</li>
                <li class=list__icons><i class="pi pi-twitter"></i>Twitter</li>
                <li class=list__icons><i class="pi pi-linkedin"></i>LinkedIn</li>
            </ul>
        </div>
    </div>
</footer>